/* GLOBAL */
:root {
    /* Colors */
    /* Primary */
    --Blue: hsl(223, 87%, 63%);

    /* Secondary */
    --Pale-Blue: hsl(223, 100%, 88%);
    --Light-Red: hsl(354, 100%, 66%);

    /* Neutral */
    --Gray: hsl(0, 0%, 59%);
    --Very-Dark-Blue: hsl(209, 33%, 12%);

    font-size: 62.5%;
}

body {
    font-family: 'Libre Franklin',
        sans-serif;
}

.container {
    max-width: 700px;
    padding: 1.2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    margin-top: 4.2rem;
}

.logo img {
    width: 5.8rem;
}

.dashboard-photo {
    width: 100%;
}

/* Main Content */
.main-content {
    margin-top: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.main-content h2 {
    font-size: 2.5rem;
}

.main-content span {
    font-weight: 300;

    color: var(--Gray);
}

.main-content p {
    margin: 0;
    margin-bottom: 1.2rem;

    font-size: 1.2rem;
}

/* Subscribe Email + Submit button */
.basic-form {
    width: 70%;
    margin: 1.8rem;
    height: 5.5rem;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.basic-form input,
button {
    width: 100%;
    padding: 1rem;

    border-radius: 1.2rem;
}

.basic-form input {
    width: 93%;
    margin-bottom: .5rem;

    border: 1px solid var(--Pale-Blue);
}

.basic-form input:focus {
    border-color: var(--Blue);
}

.basic-form input[type="email"] {
    padding-right: .5rem;

    font-size: 1.2rem;
}

.basic-form input::placeholder {
    padding-right: .5rem;

    font-size: 1rem;
}

.basic-form .error-msg {
    margin-bottom: .5rem;

    color: var(--Light-Red);

    font-style: italic;
}

.basic-form button {
    background-color: var(--Blue);
    color: #fff;

    border: 0;

    -webkit-box-shadow: 0px 0px 3px 2px var(--Pale-Blue);
    -moz-box-shadow: 0px 0px 3px 2px var(--Pale-Blue);
    box-shadow: 0px 0px 3px 2px var(--Pale-Blue);

    cursor: pointer;
}

.dashboard-photo {
    margin: 1.2rem;
}

.social-media {
    width: 80px;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.social-media i {
    color: var(--Blue);

    margin: .5rem;
    padding: 1rem;

    border: 1px solid rgba(184, 184, 184, .5);
    border-radius: 100%;
}

.copyright {
    text-align: center;
}

@media (min-width: 701px) {

    /* GLOBAL */
    .container {
        max-width: none;
    }

    .logo img {
        width: 7.8rem;
    }

    .dashboard-photo {
        width: 50%;

        margin: 1.8rem;
    }

    /* Main Content */
    .main-content h2 {
        font-size: 3.5rem;
        margin-bottom: .8rem;

    }

    .main-content p {
        margin: 0;
        font-size: 1.3rem;
        margin-bottom: 1.2rem;

        color: var(--Very-Dark-Blue);
    }

    .basic-form {
        flex-direction: row;
        justify-content: center;
        align-items: center;

        margin-bottom: 0;
    }

    .basic-form input,
    button {
        width: 100%;
        padding: 1rem;

        border-radius: 2.5rem;
    }

    .basic-form input {
        width: 22.5rem;
        margin-bottom: 0;
        margin-right: 1.2rem;
    }

    .basic-form input[type="email"] {
        font-size: 1.3rem;
        padding-right: .5rem;
    }

    .basic-form input::placeholder {
        font-size: 1.1rem;
        padding-right: .5rem;
    }

    .basic-form button {
        width: 12.5rem;

        transition: 0.3s;
    }

    .basic-form button:hover {
        transform: scale(1.1);
    }

    /* Social Media Icons */

    .social-media i {
        transition: 0.3s;
        cursor: pointer;
    }

    .social-media i:hover {
        background-color: #4F7EF3;
        color: #fff;
    }
}